/* MEDIA QUERY RESPONSIVE HEADER */

@media(max-width: 800px){
    .header-container{
        display: grid;
    }
}

@media(max-width: 440px){
    .logo-container{
        display: grid;
    }

    .card-header ul{
        display: grid;
        text-align: center;
    }

    .card-header li{
        border-bottom: transparent;
    }
}

/* MEDIA QUERY RESPONSIVE MAIN */

@media(max-width: 800px){
    .intro-container{
        text-align: center;
    }
}

@media(max-width: 850px){
    .main-container{
        display: grid;
        padding-left: 10px;
    }

    .card-main a{
        display: none;
    }

    .card-main-img {
        display: flex;
        justify-content: center; 
    }

    .rd-border{
        padding-top: 4vh;
    }
}

@media(max-width: 996px){
    .card-main span{
        display: none;
    }

    .intro-container{
        justify-content: start;
    }
}

@media(max-width: 530px){
    .main-container .card-main-img{
        display: none;
    }

    .card-main a{
        display: grid;
    }
}

@media(max-width: 340px){
    .main-container{
        display: none;
    }
}

/* MEDIA QUERY RESPONSIVE FOOTER */

@media(max-width: 850px){
    .card-footer3{
        display: none;
    }
}

@media(max-width: 530px){
    .card-footer2{
        display: none;
    }
}