/* MEDIA QUERY RESPONSIVE HEADER */

@media(max-width: 800px){
    .header-container{
        display: grid;
    }
}

@media(max-width: 440px){
    .logo-container{
        display: grid;
    }

    .card-header ul{
        display: grid;
        text-align: center;
    }
}