/* 5 LINEAS DE COLORES */

/*
color-primario: #99ff00;
color-secundario: #46453a;
color-terciario: #8123de;
color-cuarto: #11ff88;
*/


/*----------------------------------------------------------------*/


/* TAMAÑO , FUENTE , COLOR A LAS LISTAS y FORMULARIO */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.cabezaTitulo{
    color: white;
    background-color: #333333;

}

.persLista{
    font-size: 18px;
    color: white;
    background-color: #333333;
}


