.header-container{
    background-color: #010101;
    color: white;
    display: flex;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
}

.card-header{
    padding: 5px;
}

.card-header img{
    border-radius: 100px;
    width: 150px;
    /*width: 20vh;*/
    height: auto;
}

.card-header .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-header ul{
    list-style: none;
    display: flex;
}

.card-header ul a{
    text-decoration: none;
}

.card-header li{
    padding: 10px;
    transition: 400ms;
    border-bottom: 5px solid #808080;
}

.card-header ul li:hover{
    background-color: #808080;
    border-bottom: 5px solid #808080;
}
