/* ENCABEZADO DE CONTACTO */

.card-container-contacto{
    /*border: 3px solid blue;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.card-container-contacto1{
    /*border: 3px solid green;*/
    display: grid;
    width: 75%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    padding: 20px;
}

.card-cont{
    /*border: 2px solid red;*/
    border-radius: 15px;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 5px 1px gray;
    gap: 3em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-cont small{
    color: black;
}

.card-cont img{
    width: 40%;
    height: auto;
}

/* CONTACTO */

.card-container-contacto2{
    /*border: 3px solid orangered;*/
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 70%;
    height: 100%;
    padding: 20px;
    margin-top: 10px;
    gap: 2em;
    border-radius: 5px;
}

.card-container-form{
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: auto;
    height: auto;
    gap: 5em;
}

.card-container-form form{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1em
}

.card-container-form form h5{
    color: black;
}

.card-container-form li{
    color: white;
    font-weight: bold;
    list-style-type: none;
}

.card-container-contactar h5,small{
    color: black;
}

.card-container-contactar h5{
    font-weight: bold;
    font-size: 30px;
}

.card-container-contactar{
    /*border: 2px solid black;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    padding: 0px 20px;
    width: 100%;
    height: auto;
}

.card-container-contactar img{
    max-width: 30px;
    height: 30px;
}

.btn-form{
    background-color: #3A260A;
    padding: 10px;
    border-radius: 3px;
}

.btn-form a{
    text-decoration: none;
}

.btn-form:hover{
    background-color: #808080;
    cursor: pointer;
}

.card-input{
    border: none;
    font-size: medium;
    color: black;
    padding: 5px;
}
