h1,span{
    color: black;
}

.main-container{
    background-color: white;
    display: flex;
    justify-content:space-evenly;
    padding-right: 15px;
    padding-bottom: 15px;
}

.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-main{
    padding: 15px;
}

.card-main-img{
    padding: 50px;
}

.card-main a{
    /*border: 2px solid purple;*/
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.main-container img{
    border: 6px solid white;
    border-radius: 900px;
    width: 400px;
    height: auto;
}

.rd-border{
    padding-top: 15vh;
    background-color: #3A260A;
    border-radius: 0 0 600px 600px;
    box-shadow: 0 10px 50px black;
}

.card-main span{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.card-main h1{
    font-size: 45px;
}

.mini-card-title1{
    padding: 10px;
}

.mini-card-title2{
    color: white;
    background-color: #3A260A;
    padding: 10px;
}

.btn a{
    background-color: #3A260A;
    padding: 10px;
    transition: 200ms;
    border-radius: 4px;
}

.btn a:hover{
    background-color: #808080;
}