h3,P{
    color: white;
}

.main-container-pro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

/* Seccion 1 */  /* FALTA AJUSTAR RESPONSIVE */

.card-container-pro1{
    /*border: 5px solid blue;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px;
    gap: 1em;
}
.card-pro{
    /*border: 2px solid red;*/
    border-radius: 10px;
    width: 40vw;
    height: 25vh;
    box-shadow: 0px 0px 5px 1px gray;
}

.card1{
    display: flex; 
    flex-direction: column;
    height: 100%; 
    background-image: url(../img/cat-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.sub-card-container-pro1{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card2{
    background-image: url(../img/cat-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card3{
    background-image: url(../img/cat-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-titulo-cat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    height: 100%;
    gap: 1em;
    font-size: 30px;
    font-weight: bold;
}

/* Seccion 2 */ /* FALTA AJUSTAR RESPONSIVE */

.card-container-pro2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    /*border: 5px solid blue;*/
}

.card-container-pro2 small,h4,ul{
    color: black;
    list-style-type: none;
}

.card-container-pro2 ul{
    font-weight: bold;
    padding: 8px 30px;
    background-color: black;
}

.sub-card-container-pro2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 75%;
    background-color: #F7F7F7;
    /*border: 5px solid blue;*/
    border-radius: 2px;
}

/* Seccion 3 *//* FALTA AJUSTAR RESPONSIVE */

.card-container-pro3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /*border: 5px solid blue;*/
    gap: 2em;
}

.sub-card-container-pro3{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    /*border: 5px solid blue;*/
    border-radius: 2px;
}

.card-container-pro3 li,h4,ul{
    color: black;
    list-style-type: none;
}

.card-container-pro3 ul{
    font-weight: bold;
    border-bottom: 2px solid black;
}

.sub-card-container-img3{
    /*border: 2px solid red;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 80%;
}

.card-pro3{
        /*border: 2px solid green;*/
        border-radius: 5px;
        width: auto;
        height: auto;
        box-shadow: 0px 0px 5px 1px gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 5px;
}

.card-pro3:hover{
    scale: 1.1;
    transition: 100ms;
}

.card-pro3 img {
    width: 100%;
    height: auto;    
}

.card-pro3 small{
    color: black;
    font-weight: bold;
}
