<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/main-contacto.css">
    <link rel="stylesheet" href="../css/main-contacto.css">
    <link rel="stylesheet" href="../css/app1.css">

    <title>vaskezleather</title>
</head>
<body>
    <header>
        <div class="header-container">
            <a href="../index.html">
                <div class="logo-container card-header">
                    <div class="card-header">
                        <img src="../img/logo.png" alt="Logo vazkezleather">
                    </div>
                    <div class="card-header title">
                        <h3>vaskezleather</h3>
                    </div>                
                </div>
                <nav class="card-header">
                    <ul>
                        <li><a href="../index.html">HOME</a></li>
                        <li><a href="./productos.html">PRODUCTOS</a></li>
                        <li><a href="./contacto.html">SIGUENOS</a></li>
                    </ul>
                </nav>
            </a>
        </div>
    </header>
    <main>
        <section class="card-container-contacto">
            <div class="card-container-contacto1">
                <div class="card-cont">
                    <img src="../img/ubicacion.png" alt="Ubicacion">
                    <small>Bs As</small>
                </div>
                <div class="card-cont">
                    <img src="../img/instagram.png" alt="Instagram">
                    <small>vaskezleather</small>
                </div>
                <div class="card-cont">
                    <img src="../img/correo.png" alt="Correo">
                    <small>Correo</small>
                </div>
                <div class="card-cont">
                    <img src="../img/whatsapp.png" alt="Whatsapp">
                    <small>Whatsapp</small>
                </div>
            </div>
            <div class="card-container-contacto2">
                <div class="card-container-form">
                    <form action="">
                        <div class="card-form-img">
                            <img src="../img/logo.png" alt="Logo form">
                        </div>
                        <h5>Ingrese correo</h5>
                        <input class="card-input" type="email">
                        <h5>Nombre</h5>
                        <input class="card-input"type="text">
                        <h5>Consulta</h5>
                        <textarea class="card-input" name="">
                        </textarea>
                    </form>
                    <div class="btn-form">
                        <ul>
                            <li>
                                <a href="">ENVIAR</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-container-contactar">
                    <h5>Ponte en conctacto</h5>
                    <small>Mantente al tanto de nuestras novedades siguiéndonos en nuestras redes.</small>
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/vaskezleather" target="_blank">
                                <img class="img1" src="../img/instagram-color.png" alt="Instagram Color">
                            </a>
                        </li>
                        <li>
                            <a href="https://articulo.mercadolibre.com.ar/MLA-1410548753-tarjetero-cuero-hecho-a-mano-_JM?attributes=FABRIC_DESIGN:TGlzbw==,COLOR_SECONDARY_COLOR:TmVncm8=" target="_blank">
                                <img class="img2" src="../img/mercado.png" alt="Mercado">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="card-footer1">
                <hr>
            </div>
            <div class="card-footer-container">
                <img src="../img/logo.png" alt="Logo-footer">
                <p class="card-footer2">Copyright © 2024</p>
                <p class="card-footer3">Todos los derechos reservados</p>
            </div>
            <div class="card-footer1">
                <hr>
            </div>
        </div>
    </footer>
</body>
</html>