<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/main-productos.css">
    <link rel="stylesheet" href="../css/main-contacto.css">
    <link rel="stylesheet" href="../css/app1.css">
    <title>vaskezleather</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container card-header">
                <div class="card-header">
                <img src="../img/logo.png" alt="Logo vazkezleather">
                </div>
                <div class="card-header title">
                    <h3>vaskezleather</h3>
                </div>                
            </div>
            <nav class="card-header">
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="">NOSOTROS</a></li>
                    <li><a href="./productos.html">PRODUCTOS</a></li>
                    <li><a href="./contacto.html">SIGUENOS</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="card-container-contacto">

            <div class="card-container-contacto1">
                <div class="card-cont">
                    <img src="../img/ubicacion.png" alt="">
                    <small>Capital Federal</small>
                </div>
                <div class="card-cont">
                    <img src="../img/instagram.png" alt="">
                    <small>Instagram</small>
                </div>
                <div class="card-cont">
                    <img src="../img/correo.png" alt="">
                    <small>Correo</small>
                </div>
                <div class="card-cont">
                    <img src="../img/whatsapp.png" alt="">
                    <small>Whatsapp</small>
                </div>
            </div>

            <div class="card-container-contacto2">

                <div class="card-container-form">
                    <div>
                        <form action="">
                            <input type="email">
                            <input type="text">
                            <textarea name="" id="textarea">

                            </textarea>
                        </form>
                    </div>
                    <div class="">
                        <ul>
                            <li>ENVIAR</li>
                        </ul>
                    </div>
                    
                </div>

                <div class="card-container-contactar">
                    <h5>Ponte en conctacto y siguenos</h5>
                    <small>Mantente al tanto de nuestras novedades siguiéndonos en nuestras redes.<br>Si tienes preguntas o necesitas asistencia, no dudes en contactarnos.</small>
                    
                    <div>

                    </div>
                    
                </div>
            </div>


        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="card-footer1">
                <hr>
            </div>
            <div class="card-footer-container">
                <img src="../img/logo.png" alt="Logo-footer">
                <p class="card-footer2">Copyright © 2024</p>
                <p class="card-footer3">Todos los derechos reservados</p>
            </div>
            <div class="card-footer1">
                <hr>
            </div>
        </div>
    </footer>
</body>
</html>