<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/main-contacto.css">
    <link rel="stylesheet" href="../css/main-contacto.css">
    <link rel="stylesheet" href="../css/main-nosotros.css">
    <link rel="stylesheet" href="../css/app1.css">

    <title>vaskezleather</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container card-header">
                <div class="card-header">
                <img src="../img/logo.png" alt="Logo vazkezleather">
                </div>
                <div class="card-header title">
                    <h3>vaskezleather</h3>
                </div>                
            </div>
            <nav class="card-header">
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="./nosotros.html">NOSOTROS</a></li>
                    <li><a href="./productos.html">PRODUCTOS</a></li>
                    <li><a href="./contacto.html">SIGUENOS</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="container">

            <div class="div1">

                <div class="sub-div1">
                    <div class="cont-div1">
                        <h1>Nuestros servicios</h1>
                    </div>
                    <div class="cont-div1">
                        <hr>
                    </div>
                    <div class="cont-div1">
                        <small>
                            En vaskezleather, somos especialistas en la producción de productos de cuero de alta calidad. Nuestro enfoque se centra en la creación de artículos únicos y duraderos que destacan por su diseño excepcional y su artesanía superior.
                        </small>
                    </div>

                    <div class="cont-div1">
                        <ul>
                            <small>
                                <li>
                                    Producción a Medida: Diseñamos y fabricamos productos de cuero personalizados, adaptados a las preferencias y necesidades específicas de nuestros clientes.
                                </li>
                            </small>

                            <small>
                                <li>
                                    Calidad y Artesanía: Utilizamos los mejores materiales y técnicas tradicionales para garantizar que cada pieza sea un ejemplo de excelencia en la manufactura del cuero.
                                </li>
                            </small>

                            <small>
                                <li>
                                    Innovación y Diseño: Combinamos creatividad y funcionalidad para ofrecer productos de cuero que no solo cumplen su propósito, sino que también reflejan un estilo sofisticado y moderno.
                                </li>
                            </small>
                        </ul>
                    </div>

                    <div class="cont-div1">
                        <small>
                            En vaskezleather, nos enorgullece nuestra dedicación al detalle y nuestra pasión por el cuero. Cada producto que fabricamos es una pieza de arte que habla de calidad y elegancia. Nuestro compromiso es ofrecerte lo mejor en cada etapa del proceso de producción.
                        </small>
                    </div>

                </div>

            </div>

            <div class="div2">

            </div>

            <div class="div3">

        </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="card-footer1">
                <hr>
            </div>
            <div class="card-footer-container">
                <img src="../img/logo.png" alt="Logo-footer">
                <p class="card-footer2">Copyright © 2024</p>
                <p class="card-footer3">Todos los derechos reservados</p>
            </div>
            <div class="card-footer1">
                <hr>
            </div>
        </div>
    </footer>
</body>
</html>