<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/main-productos.css">
    <link rel="stylesheet" href="../css/app1.css">

    <title>vaskezleather</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container card-header">
                <div class="card-header">
                <img src="../img/logo.png" alt="Logo vazkezleather">
                </div>
                <div class="card-header title">
                    <h3>vaskezleather</h3>
                </div>                
            </div>
            <nav class="card-header">
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="">NOSOTROS</a></li>
                    <li><a href="./productos.html">PRODUCTOS</a></li>
                    <li><a href="">SIGUENOS</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-container-pro">
        <section class="card-container-pro1">
            <div clas="sub-card-container-pro1">
                <div class="card-pro card1">
                    <div class="card-titulo-cat">
                        <h3>Tarjetero Clasico</h3>
                        <p>Exclusividad</p>
                    </div>
                </div>
            </div>
            <div class="sub-card-container-pro1">
                <div class="card-pro card2">
                    <div class="card-titulo-cat">
                        <h3>Estilo en Portalentes</h3>
                        <p>Elegancia</p>
                    </div>
                </div>
                <div class="card-pro card3">
                    <div class="card-titulo-cat">
                        <h3>Tarjetero Compacto</h3>
                        <p>Modernidad</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="card-container-pro2">
            <div class="sub-card-container-pro2">
                <div>
                    <h4>10% de Descuento</h4>
                    <small>Siguendonos en nuestras redes</small>
                </div>
                <div>
                    <ul>
                        <li>Visitanos</li>
                    </ul>
                </div>
            </div>
        </section>
        <section></section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="card-footer1">
                <hr>
            </div>
            <div class="card-footer-container">
                <img src="../img/logo.png" alt="Logo-footer">
                <p class="card-footer2">Copyright © 2024</p>
                <p class="card-footer3">Todos los derechos reservados</p>
            </div>
            <div class="card-footer1">
                <hr>
            </div>
        </div>
    </footer>
</body>
</html>